# GitHub and Atlantis
ATLANTIS_GH_USER=your-github-username
ATLANTIS_GH_TOKEN=your-github-token
ATLANTIS_GH_WEBHOOK_SECRET=replace-with-strong-secret
ATLANTIS_REPO_ALLOWLIST=github.com/nolet7/multicloud-atlantis-network-security
ATLANTIS_URL=https://atlantis.olalat.xyz

# AWS
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=replace-me
AWS_SECRET_ACCESS_KEY=replace-me

# Azure
ARM_SUBSCRIPTION_ID=replace-me
ARM_TENANT_ID=replace-me
ARM_CLIENT_ID=replace-me
ARM_CLIENT_SECRET=replace-me

# GCP
GOOGLE_CREDENTIALS={"type":"service_account","project_id":"replace-me"}
GCP_PROJECT_ID=replace-me
GCP_REGION=us-central1
