terraform {
  backend "azurerm" {
    resource_group_name  = "olalat-tfstate-rg"
    storage_account_name = "olalattfstate001"
    container_name       = "tfstate"
    key                  = "azure/network-security/terraform.tfstate"
  }
}
