project_name         = "enterprise-multicloud"
environment          = "dev"
owner                = "platform-engineering"
gcp_project_id       = "replace-with-gcp-project-id"
gcp_region           = "us-central1"
vpc_name             = "vpc-enterprise-multicloud"
subnet_cidr          = "10.30.1.0/24"
allowed_ingress_cidr = "203.0.113.10/32"
